:root {
    --border-test: 2px dotted yellow;
    --bg-color: #1B1635;
    --bg-button: linear-gradient(48deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
}

.perfect-width_margin {
    width: 80%;
    margin: 1.875rem auto;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    background-color: var(--bg-color);
    color: white;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-menu {
    display: flex;
    gap: 2rem;
}

.nav-menu a {
    text-decoration: none;
    font-weight: 500;
    line-height: 120%;
    color: rgba(255, 255, 255, 0.9);
}

.button {
    color: white;
    background: var(--bg-button);
    background-size: 200% 200%;
    background-position: left center;
    transition: background-position 0.6s ease;
    display: flex;
    gap: .25rem;
    align-items: center;
    padding: .875rem 1rem;
    border-radius: 625rem;
    cursor: pointer;
}

.button:hover {
    background-position: right center;
}

#nav-btn {
    margin: 0;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
}

.hero {
    max-width: 100%;
    margin-top: 1.875rem;
    border-top: 1px solid rgb(114, 67, 179);
    background-image: url("./assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 6.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 56.25rem;
    padding-top: 3.125rem;

}

.hero-mic {
    padding: 9.375rem;
    background-image: url("./assets/hero-circle.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 8.75rem;
    height: 8.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3.75rem;
    position: relative;
}

.badge {
    position: absolute;
    top: 20px;
    left: 75%;
    padding: .5rem 1rem;
    scale: 150%;
    border-radius: 1000px;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
    background-color: rgba(0, 255, 136, 1);
}

.badge p {
    margin: 0;
    color: rgba(26, 11, 46, 1);
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.375rem;
}

.hero-mic img {
    scale: 140%;
}

.hero-text h2 {
    margin: 2.5rem 0 0;
    text-align: center;
    font-size: 3.75rem;
    font-weight: 800;
    line-height: 4.5625rem;
}

.hero-text p {
    opacity: 90%;
    margin-top: .75rem;
    line-height: 1.1875rem;
}

.hero-btns,
.mail-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spotify-btn {
    gap: 10px cur
}

.spotify-btn p,
.mail-btn p {
    font-weight: 600;
    line-height: 1.1875rem;
    margin: 0;
}

.mail-btn {
    gap: .625rem;
    padding: .875rem 1rem;
    border-radius: 625rem;
    cursor: pointer;
    border: 1px solid rgba(0, 255, 136, 1);
    transition: .6s ease;
}

.mail-btn p {
    color: rgba(0, 255, 136, 1);
}

.hero-btns {
    margin-top: 24px;
    display: flex;
    gap: 10px;
}

.mail-btn:hover {
    background-color: rgb(4, 126, 69);

}

.mail-btn:hover p {
    color: white;
}

.mail-btn:hover img {
    filter: brightness(0) invert(1);
}