:root {
    --border-test: .125rem dotted yellow;
    --bg-color: #1b132f;
    --bg-button: linear-gradient(48deg,
            rgba(247, 233, 63, 1),
            rgba(251, 9, 180, 1),
            rgba(145, 0, 248, 1));
    --hr-line: .0625rem solid rgb(114, 67, 179);
    --green: rgba(0, 255, 136, 1);
}

.perfect-width_margin {
    width: 80%;
    margin: 30px auto;
}

h2,
h3,
P {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    background-color: var(--bg-color);
    color: white;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.nav-menu {
    display: flex;
    gap: 32px;
}

.nav-menu a {
    text-decoration: none;
    font-weight: 500;
    line-height: 120%;
    color: rgba(255, 255, 255, 0.9);
}

.button {
    color: white;
    background: var(--bg-button);
    background-size: 200% 200%;
    background-position: left center;
    transition: background-position 0.6s ease;
    display: flex;
    gap: 4px;
    align-items: center;
    padding: 14px 16px;
    border-radius: 10000px;
    cursor: pointer;
}

.button:hover {
    background-position: right center;
}

#nav-btn {
    margin: 0;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
}

.hamburger-menu {
    display: none;
}

.hero {
    max-width: 100%;
    margin-top: 30px;
    border-top: var(--hr-line);
    background-image: url("./assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 56.25rem;
    padding-top: 50px;
}

.hero-mic {
    padding: 150px;
    background-image: url("./assets/hero-circle.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 140px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    position: relative;
}

.badge {
    position: absolute;
    top: 20px;
    left: 75%;
    padding: 8px 16px;
    scale: 150%;
    border-radius: 1000px;
    box-shadow: 0rem .1875rem 1.6875rem 0rem rgba(0, 255, 136, 0.5);
    background-color: var(--green);
}

.badge p {
    margin: 0;
    color: rgba(26, 11, 46, 1);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
}

.hero-mic img {
    scale: 140%;
}

.hero-text h2 {
    margin: 40px 0 0;
    text-align: center;
    font-size: 60px;
    font-weight: 800;
    line-height: 73px;
}

.hero-text p {
    opacity: 80%;
    margin-top: 12px;
    line-height: 19px;
}

.hero-btns,
.mail-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spotify-btn {
    gap: 10px;
}

.spotify-btn p,
.mail-btn p {
    font-weight: 600;
    line-height: 19px;
    margin: 0;
}

.mail-btn {
    gap: 10px;
    padding: 14px 16px;
    border-radius: 10000px;
    cursor: pointer;
    border: .0625rem solid var(--green);
    transition: 0.6s ease;
}

.mail-btn p {
    color: var(--green);
}

.hero-btns {
    margin-top: 24px;
    display: flex;
    gap: 10px;
}

.mail-btn:hover {
    background-color: rgb(4, 126, 69);
}

.mail-btn:hover p {
    color: white;
}

.mail-btn:hover img {
    filter: brightness(0) invert(1);
}

.about {
    border-bottom: var(--hr-line);
    padding-bottom: 80px;
}

.about-text {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-bottom: 80px; */
}

.about-text h2 {
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
}

#about-text-p {
    margin-top: 16px;
    line-height: 28px;
    text-align: center;
    opacity: 80%;
    width: 61%;
}

#about-text-extra-p {
    margin-top: 40px;
}

.statistics {
    display: grid;
    grid-template-columns: repeat(4, 20%);
    justify-content: space-between;
    margin-bottom: 100px;
}

.card {
    width: 65%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card h3 {
    color: var(--green);

    font-size: 48px;
    font-weight: 900;
    line-height: 58px;

    text-transform: capitalize;
}

.card p {
    margin-top: 16px;
    opacity: 80%;
    line-height: 20px;
    text-transform: uppercase;
}

.why {
    background-color: #2C003F;
    padding-top: 150px
}

.why h2 {
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-align: center;
}

.collage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1.875rem;
    padding-bottom: 7.5rem;
}

.cards {
    display: flex;
    flex-direction: column;
    border-radius: 2.5rem;
    gap: 1rem;
    background-color: rgba(53, 17, 101, 0.4);
}

.cards h3 {
    font-style: Bold;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.8125rem;
    text-transform: capitalize;
}

.cards p {
    line-height: 28px;
    opacity: 60%;
    text-align: left;
}

.cards img {
    width: 60px;
}

.card1 {
    padding: 120px 60px;
    grid-row: span 2;
}

.landscape {
    grid-column: span 2;
    padding: 40px;
}

.card5 {
    padding: 40px;
}

.featured h2 {
    padding-top: 120px;
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-align: center;
}

.featured {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.featured-yt-cards {
    display: flex;
    gap: 50px;
}


.yt-card-texts {
    padding: 24px 24px 0 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start2;
}

.yt-card-texts h3 {
    font-style: Bold;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
}

.yt-card-texts p {
    opacity: 60%;
    line-height: 24px;
    margin-top: 12px;
}

.yt-card {
    width: 50%;
    border-radius: 24px;
    background: rgba(37, 13, 68, 1);
}

.yt-card iframe {
    width: 100%;
    border-radius: 24px 24px 0 0;
}

.duration {
    padding: 12px 24px 24px 24px;
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: flex-start;
}

.duration p {
    color: var(--green);
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
}

.host h2 {
    margin-top: 120px;
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-align: center;
}

.host-box {
    margin-top: 40px;
    display: flex;
    gap: 28px;
    padding: 40px;
    border-radius: 40px;
    background-color: rgba(53, 17, 101, 0.4);
}

.host-text-box {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 16px;

}

.host-text-box h3 {
    font-style: Bold;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
}

.host-text-box p {
    opacity: 60%;
    line-height: 24px;
}

.host-icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.host-icons img {
    cursor: pointer;
    width: 40px;
}

.footer {
    margin-top: 120px;
    background-image: url("./assets/footer-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 120px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.footer-logo {
    width: 20%;
}

.footer .footer-icon-box {
    /* border: var(--border-test); */
    display: flex;
    gap: 2.5rem;
    width: 100%;
}

.footer-icon {
    filter: brightness(0) invert(1);
    display: flex;
    gap: 10px;
}

.footer-icon p {
    font-style: Medium;
    font-weight: 500;
    opacity: 60%;
    line-height: 19px;
    text-align: left;
    width: 100%;
}

.footer small {
    opacity: 60%;
    font-size: 16px;
    line-height: 24px;
}

@media screen and (min-width: 22.5rem) and (max-width: 576px) {

    .perfect-width_margin {
        width: 90%;
        margin: 1rem auto;
    }


    .navbar img {
        width: 40%;
        align-items: center;
    }

    .nav-menu,
    .navbar-button {
        display: none;
    }

    .hamburger-menu {
        display: block;
        width: 24px !important;
    }

    .why {
        padding-top: 3.125rem;
    }

    .collage {
        margin-top: 1rem;
        gap: 1rem;
        padding-bottom: 2.5rem;
        display: flex;
        flex-direction: column;
    }

    .card1 {
        padding: 1.5rem;
    }

    .why h2 {
        text-align: center;
        width: 100%;
        font-size: 1.75rem;
        line-height: 2.4375rem;
    }

    .cards h3 {
        font-size: 1.375rem;
        font-weight: 700;
        line-height: 1.6875rem;
        text-transform: capitalize;
    }

    .cards p {
        line-height: 1.5rem;
    }

    .featured h2 {
        padding-top: 2.5rem;
        font-size: 2rem;
        line-height: 2.4375rem;
    }

    .featured {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }

    .featured-yt-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .yt-card {
        width: 100%;
        border-radius: 1.5rem;
        background: rgba(37, 13, 68, 1);
    }

    .yt-card-texts h3 {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }

    .yt-card-texts p {
        margin-top: .5rem;
    }

    .yt-card-texts span {
        display: none;
    }

    .yt-card-texts p::after {
        content: "...";
    }

    .host h2 {
        margin-top: 3.75rem;
        font-size: 32px;
        line-height: 3.625rem;
    }

    .host-box {
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1.5rem;
        border-radius: 1.5rem;
        background-color: rgba(53, 17, 101, 0.4);
        align-items: center;
    }

    .host-img {
        width: 9.375rem;
    }

    .host-text-box {
        align-items: center;
    }

    .host-text-box h3 {
        font-size: 1.5rem;
        line-height: 1.8125rem;
    }

    .host-text-box p {
        text-align: center;
    }

    .host-icons {
        gap: .5rem;
    }

    .footer {
        margin-top: 2.5rem;
        padding: 2.5rem;
        gap: 1.5rem;
        background-image: url("./assets/footer-bg.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }

    .footer-logo {
        width: 13.6875rem;
    }

    .footer-icon {
        gap: .5rem;
    }

    .footer-icon img {
        width: 1.5rem;
        height: 1.5rem;
    }

    .footer .footer-icon-box {
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }

    footer small {
        text-align: center;
        line-height: 24px;
    }

}