:root {
    --border-test: 2px dotted yellow;
    --bg-color: #1B1635;
    --bg-button: linear-gradient(48deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
}

.perfect-width_margin {
    width: 80%;
    margin: 1.875rem auto;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    background-color: var(--bg-color);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-menu {
    display: flex;
    gap: 2rem;
}

.nav-menu a {
    text-decoration: none;
    font-weight: 500;
    line-height: 120%;
    color: rgba(255, 255, 255, 0.9);
}

.button {
    color: white;
    background: var(--bg-button);
    background-size: 200% 200%;
    background-position: left center;
    transition: background-position 0.6s ease;
    display: flex;
    gap: .25rem;
    align-items: center;
    padding: .3125rem 1.25rem;
    border-radius: 625rem;
    cursor: pointer;
}

.button:hover {
    background-position: right center;
}

#nav-btn {
    font-weight: 600;
    line-height: 19px;
    text-align: left;
}

.hero {
    max-width: 100%;
    margin-top: 1.875rem;
    border-top: 1px solid rgb(114, 67, 179);
    background-image: url("./assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 6.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 900px;
    padding-top: 50px;

}

.hero-mic {
    /* box-sizing: border-box;
    border: 8px solid rgba(42, 24, 108, 1);
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1))); */
    padding: 150px;
    background-image: url("./assets/hero-circle.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 140px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.hero-mic img {
    scale: 140%;
}