:root {
    --border-test: 2px dotted yellow;
    --bg-color: #1b132f;
    --bg-button: linear-gradient(48deg,
            rgba(247, 233, 63, 1),
            rgba(251, 9, 180, 1),
            rgba(145, 0, 248, 1));
    --hr-line: 1px solid rgb(114, 67, 179);
    --green: rgba(0, 255, 136, 1);
}

.perfect-width_margin {
    width: 80%;
    margin: 1.875rem auto;
}

h2,
h3,
P {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    background-color: var(--bg-color);
    color: white;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-menu {
    display: flex;
    gap: 2rem;
}

.nav-menu a {
    text-decoration: none;
    font-weight: 500;
    line-height: 120%;
    color: rgba(255, 255, 255, 0.9);
}

.button {
    color: white;
    background: var(--bg-button);
    background-size: 200% 200%;
    background-position: left center;
    transition: background-position 0.6s ease;
    display: flex;
    gap: 0.25rem;
    align-items: center;
    padding: 0.875rem 1rem;
    border-radius: 625rem;
    cursor: pointer;
}

.button:hover {
    background-position: right center;
}

#nav-btn {
    margin: 0;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
}

.hero {
    max-width: 100%;
    margin-top: 1.875rem;
    border-top: var(--hr-line);
    background-image: url("./assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 6.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 56.25rem;
    padding-top: 3.125rem;
}

.hero-mic {
    padding: 9.375rem;
    background-image: url("./assets/hero-circle.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 8.75rem;
    height: 8.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3.75rem;
    position: relative;
}

.badge {
    position: absolute;
    top: 20px;
    left: 75%;
    padding: 0.5rem 1rem;
    scale: 150%;
    border-radius: 1000px;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
    background-color: var(--green);
}

.badge p {
    margin: 0;
    color: rgba(26, 11, 46, 1);
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.375rem;
}

.hero-mic img {
    scale: 140%;
}

.hero-text h2 {
    margin: 2.5rem 0 0;
    text-align: center;
    font-size: 3.75rem;
    font-weight: 800;
    line-height: 4.5625rem;
}

.hero-text p {
    opacity: 80%;
    margin-top: 0.75rem;
    line-height: 1.1875rem;
}

.hero-btns,
.mail-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spotify-btn {
    gap: 10px cur;
}

.spotify-btn p,
.mail-btn p {
    font-weight: 600;
    line-height: 1.1875rem;
    margin: 0;
}

.mail-btn {
    gap: 0.625rem;
    padding: 0.875rem 1rem;
    border-radius: 625rem;
    cursor: pointer;
    border: 1px solid var(--green);
    transition: 0.6s ease;
}

.mail-btn p {
    color: var(--green);
}

.hero-btns {
    margin-top: 1.5rem;
    display: flex;
    gap: 0.625rem;
}

.mail-btn:hover {
    background-color: rgb(4, 126, 69);
}

.mail-btn:hover p {
    color: white;
}

.mail-btn:hover img {
    filter: brightness(0) invert(1);
}

.about {
    border-bottom: var(--hr-line);
    padding-bottom: 5rem;
}

.about-text {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-bottom: 5rem; */
}

.about-text h2 {
    font-style: Bold;
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.625rem;
}

#about-text-p {
    margin-top: 1rem;
    line-height: 1.75rem;
    text-align: center;
    opacity: 80%;
    width: 61%;
}

#about-text-extra-p {
    margin-top: 2.5rem;
}

.statistics {
    display: grid;
    grid-template-columns: repeat(4, 20%);
    justify-content: space-between;
    margin-bottom: 100px;
}

.card {
    width: 65%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card h3 {
    color: var(--green);

    font-size: 3rem;
    font-weight: 900;
    line-height: 3.625rem;

    text-transform: capitalize;
}

.card p {
    margin-top: 1rem;
    opacity: 80%;
    line-height: 1.25rem;
    text-transform: uppercase;
}

.why {
    background-color: #2C003F;
    padding-top: 150px
}

.why h2 {
    font-style: Bold;
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.625rem;
    text-align: center;
}

.collage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1.875rem;
    padding-bottom: 7.5rem;
}

.cards {
    display: flex;
    flex-direction: column;
    border-radius: 2.5rem;
    gap: 1rem;
    background-color: rgba(53, 17, 101, 0.4);
}

.cards h3 {
    font-style: Bold;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.8125rem;
    text-transform: capitalize;
}

.cards p {
    line-height: 28px;
    opacity: 60%;
    text-align: left;
}

.cards img {
    width: 3.75rem;
}

.card1 {
    padding: 7.5rem 3.75rem;
    grid-row: span 2;
}

.landscape {
    grid-column: span 2;
    padding: 2.5rem;
}

.card5 {
    padding: 2.5rem;
}

.featured h2 {
    padding-top: 7.5rem;
    font-style: Bold;
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.625rem;
    text-align: center;
}

.featured {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.featured-yt-cards {
    display: flex;
    gap: 50px;
}


.yt-card-texts {
    padding: 24px 24px 0 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start2;
}

.yt-card-texts h3 {
    font-style: Bold;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.8125rem;
}

.yt-card-texts p {
    opacity: 60%;
    line-height: 1.5rem;
    margin-top: .75rem;
}

.yt-card {
    width: 50%;
    border-radius: 1.5rem;
    background: rgba(37, 13, 68, 1);
}

.yt-card iframe {
    width: 100%;
    border-radius: 1.5rem 1.5rem 0 0;
}

.duration {
    padding: .75rem 1.5rem 1.5rem 1.5rem;
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: flex-start;
}

.duration p {
    color: var(--green);
    font-weight: 600;
    line-height: 1.5rem;
    letter-spacing: 0%;
}