:root {
    /* --bg-color: rgba(65, 37, 103, 1);2 */
    --bg-color: #412567;
    --bg-button: linear-gradient(48deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
}

.perfect-width_margin {
    width: 80%;
    margin: 1.875rem auto;
}

body {
    padding: 0;
    font-family: "Inter", sans-serif;
    background-color: var(--bg-color);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-menu {
    display: flex;
    gap: 2rem;
}

.nav-menu a {
    text-decoration: none;
    font-weight: 500;
    line-height: 120%;
    color: rgba(255, 255, 255, 0.9);
}

.button {
    color: white;
    background: var(--bg-button);
    background-size: 200% 200%;
    background-position: left center;
    transition: background-position 0.6s ease;
    display: flex;
    gap: .25rem;
    align-items: center;
    padding: .3125rem 1.25rem;
    border-radius: 625rem;
    cursor: pointer;
}

.button:hover {
    background-position: right center;
}

#nav-btn {
    font-weight: 600;
    line-height: 19px;
    text-align: left;
}

.hero {
    max-width: 100%;
    margin-top: 1.875rem;
    border-top: 1px solid rgb(114, 67, 179);
}